{% load static %}
<html>
<head>
    {{ form.media }}
 <title id="title" ></title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

</head>
<body onload="makeTitle()">
<div class="page-header">
    {% if user.is_authenticated %}
        <div id="onlyblog">
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
        </div>

        <p class="top-menu" id = "usergreeting">Hello {{ user.username }} <small>(<a id="logout_link" href="{% url 'logout' %}">Log out</a>)</small></p>
    {% else %}
        <a href="{% url 'login' %}" class="top-menu" id = "login_btn"><span class="glyphicon glyphicon-lock"></span></a>
    {% endif %}

    <h1><a href="" id="page_header"></a>
        <a class="cv-blog-link" href='/' id="cv_blog_btn">
    <span class="glyphicon glyphicon-chevron-right">
    </span>
        </a>
    </h1>
</div>

<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

<script>
    function makeTitle() {
        const header = document.getElementById('page_header'), title = document.getElementById("title"),
            link = document.getElementById('cv_blog_btn');
        let element;
        if (window.location.href.includes('blog')){
            header.innerText = "Ludovico's Blog"
            title.innerText = "Ludovico's Blog"

        } else {
            header.innerText = "Ludovico's Curriculum Vitae"
            title.innerText = "Ludovico's Curriculum Vitae"
            link.setAttribute('href', '/blog')
            {% if user.is_authenticated %}
            element = document.getElementById("onlyblog")
            element.parentNode.removeChild(element)
            {% endif %}
        }
    }

</script>


</body>
</html>
