{% load static %}
<html>
<head>
    <title>Ludovico's Curriculum Vitae</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/CV.css' %}">
</head>
<body>
<div class="page-header">
    <h1> <a href = "/"> Ludovico's Curriculum Vitae</a>
        <a class="cv-blog-link" href='/blog' id="blog_btn">
    <span class="glyphicon glyphicon-comment">
    </span>
        </a></h1>

</div>

<div>
{% for entry in cv_entries %}
<div class = "cv_entry">
<h2>{{ entry.title }}</h2>
    {{ entry.text }}
</div>

{% endfor %}


</div>
</body>

</html>